
:root {

  /* Most important select your fonts also have a component of structure */
  --title-font-family:            "Source Sans Pro", Geneva, Verdana, sans-serif;
  --banner-font-family:           var(--title-font-family);
  --text-font-family:             "Droid Serif", Georgia, "Times New Roman", serif;

  --text-color:                   var(--midnightblue);
  --textDivider:                  var(--text-color, .12);
  --textHintText:                 var(--text-color, .26);
  --textSecondaryIcons:           var(--text-color, .54);
  --textColor:                    var(--text-color, .87);

  /* Contrast for dark background */
  --text-color--light:            var(--white);

  /* Messaging colors */
  --error :                       #f00;
  --valid :                       #089e00;
  --warning :                     #fff664;
  --information :                 #000db5;

  /* emotion */
  --positive:                     var(--pomegranate);

  /* THEME */
  --color-brand:                  var(--midnightblue);
  --body-bg-color:                rgba(255, 255, 255, 1);
  --border-color:                 #f4f2f0;



  --overlay-bg-color:             rgba(10, 90, 92, 0.7);
  --overlay-bg-box-shadow:        inset 0px 0px 115px 0px #000000;
  --border-radius--notification:  2px;

  /* Modules */
  --color-nav-header:              var(--white);


  /* ANIMATION ******************************************/

  --animationDuration:            0.25s;


  /* LINKS **********************************************/

  /* links colors */
  --color-link:                   var(--midnightblue);
  --color-linkPseudo:             inherit;
  --color-hover-linkPseudo:       var(--color-linkPseudo);

  --link-underlineThickness:      0.08em;
  --link-underlinePadding:        0.01em;

}

/* COLOR MODIFIER CLASSES */
.u-colorBrand {
  color: var(--color-brand);
}

/* Palettes*/
.u-paletteBrand {
  background-color: var(--color-brand);
  color: var(--text-color--light);
}
.u-paletteBody {
  background: var(--body-bg-color);
  color: var(--text-color);
}
.u-paletteGrey {
  background-color: var(--grey300);
}
.u-paletteComments {
  color: var(--color-philosopher);
}


/* Useful Resources
 *
 * http://www.chicksandtypes.com/
 *
 * Color
 * https://www.codeschool.com/courses/fundamentals-of-design
 * http://www.google.com/design/spec/style/color.html#color-ui-color-palette
 * http://designcode.io/
 *
 *
 * COLOR GUIDE WITH HSL
 * use http://css-tricks.com/examples/HSLaExplorer/
 *
 * Hue color wheel.
 * - 0o and 360o are reds
 * - 120o are greens,
 * - 240o are blues.
 *
 * Saturation
 * - 0% is completely denatured (grayscale).
 * - 100% is fully saturated (full color).
 *
 * Lightness
 * - 0% is completely dark (black).
 * - 100% is completely light (white).
 * - 50% is average lightness.
 *
 * alpha
 * - Opacity/Transparency value.
 * - 0 is fully transparent.
 * 1 is fully opaque.
 *
 *
 */
