

.ScatterChart {
  width: 90%;
  float: left;
  height: 400px;
}

/* svg */
scatter{
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  overflow: hidden;
  font-size: 10px;
}
scatter circle{
  fill: var(--grey800);
  opacity: 1;
  cursor: pointer;
  stroke-width: 2;
}
scatter circle:hover{
  stroke: white;
}
scatter text{
  fill: white;
  stroke: none;
}
scatter .x-axis path, scatter .y-axis path{
  stroke: none;
  fill: none;
}
scatter .x-axis line, scatter .y-axis line{
  stroke: rgba(255, 255, 255, 0.2);
}
